*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    display: grid;
    grid-template-rows: 6rem auto 200px 2rem 6rem;
    text-align: center;
    align-content: flex-start;
    height: 100%;
    
}
h1{
    text-align: center;
    margin: 40px auto;
    font-size : 2rem;
    color: green;
}
