*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    display: grid;
    grid-template-rows: 7rem auto 270px 6rem 6rem;
    text-align: center;
    align-content: flex-start;
    height: 100%;
    
}
h1{
    text-align: center;
 margin-top: 30px;
    font-size : 2rem;
    color: darkgreen;
}
#letters{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

#letters div{
    padding: 20px;
    margin: 10px;
    border: 1px solid gray;
    color: darkgreen;
    cursor: pointer;
}
#letters div:hover {
    background-color: rgb(153, 226, 153);
}
#letters div.used{
    background-color: rgb(198, 199, 199);
    opacity: 0.5;
}
#image img{
    margin: 30px auto;
    text-align: center;
}
#clue p{
    text-align: center;
    letter-spacing: 0.5rem;
    margin:30px auto ;
    font-size: 3rem;
}
.used{
    background-color: rgb(176, 247, 143);
    opacity: 0.5;

}
#gameover p{
    text-align: center;
    font-size: 1rem;
    display: none;
    
}